.container {
  font-family: "VT323", sans-serif;
}

.welcomebanner {
  text-align: left
}

.welcomebanner h1 {
  font-size: 60px;
}

.userbar {
  text-align: right;
}

.userbar a {
  color: #000000;
  margin-top: 10px;
  background-color: #e6e6e6;
  font-size: 25px;
}

.tampstamp {
  font-size: 20px;
}

.post-title {
  font-size: 40px;
}

.post-content {
  font-size: 35px;
}

.opt a {
  color: #000000;
  background-color: #e6e6e6;
  margin-right: 10px;
  font-size: 16px;
}

.commentopt a {
  color: #000000;
  background-color: #e6e6e6;
  margin-right: 10px;
  font-size: 16px;
}

.optbutton {
  margin-right: 10px;
}
