<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css">
    <title>My Blog</title>
  </head>

  <body>
    <div class="container">
      <header class="row">
        <div class="maintitle col-md-7 col-sm-6 col-xs-12">
          <a href="/">
            <h1>My Blog</h1>
          </a>
        </div>
        <div class="userblock col-md-5 col col-sm-6 col-xs-12">
          {% if user %}
          <h1>Welcome, {{user.name}}</h1>{% endif %} {% if user and path != '/blog/newpost'%}
          <a class="btn" href="/blog/newpost">New Post</a> <a class="logout btn" href="/logout">Logout</a>{% elif user and path == '/blog/newpost' %}
          <a class="logout btn" href="/logout">Logout</a>
          <h2>New Post</h2>{% elif not user and path != '/login' and path !='/register'%}
          <p class="loginblock">
            <a class="btn" href="/login">Login</a>
            <a class="btn" href="/register">Register</a>
          </p>
          {% elif not user and path == '/login'%}
          <h2>Login</h2><a class="btn" href="/register">Register</a> {% elif not user and path == '/register'%}
          <h2>Register</h2> <a class="btn" href="/login">Login</a>{% endif %}
        </div>
      </header>
      <section>
        {% block content %} {% endblock %}
      </section>
    </div>
  </body>

</html>
