{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <form method="post" role="form">

      <input type="hidden" id="post_id" name="post_id" value="{{post_id}}">

      <div class="form-group">
        <label for="subject">Comment:</label>
        <textarea type="text" class="form-control" name="comment" value="{{comment}}" rows="5">{{comment}}</textarea>
      </div>

      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif %}

      <button type="submit" class="optbutton btn">Submit</button><button class="optbutton btn" href="/blog/post_id">Cancel</button>
    </form>
  </div>
</div>
{% endblock %}
