{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <form method="post" role="form">

      <input type="hidden" id="post_id" name="post_id" value="{{post_id}}">

      <div class="form-group">
        <label for="subject">Comment:</label>
        <input type="text" class="form-control" id="comment" name="comment" value="{{comment}}">
      </div>

      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif %}

      <button type="submit" class="btn ">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
