{% extends "base.html" %}{% block content %}
<script>
  var seconds = 3;

  function redirect() {
    if (seconds <= 0) {
      window.location = "/";
    } else {
      seconds--;
      document.getElementById("alert").innerHTML = "Post delete success, redirect after " + seconds + " seconds."
      setTimeout("redirect()", 1000)
    }
  }
</script>
<div class="row">
  <div class="sub-work col-md-12">
    {% if deleted_post_id %}
    <div class="alert alert-success" id="alert" role="alert">
      <script>
        redirect();
      </script>
    </div>
    {% endif %}
  </div>
</div>
{% for p in posts %} {% if p.key().id()|string != deleted_post_id|string %}
<div class="row">
  {{ p.render() | safe }}
</div>
{% endif %} {% endfor %} {% endblock %}
