{% extends "base.html" %} {% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <form method="post" role="form">
      <div class="form-group">
        <label class="usertag">Username or Email:</label>
        <input type="text" class="form-control" name="username" value="{{username}}">
      </div>

      <div class="form-group">
        <label class="usertag">Password:</label>
        <input type="password" class="form-control" name="password" value="" />
      </div>
      {% if error %}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
      {% endif %}

      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</div>
{% endblock %}
